@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#reqmain { height: 500px; }

html {
    height: 100%;
}

body {
    background-color:  #555555;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.slide {
    height: 100%;
    width: auto;
    min-width: 180px;
    position: absolute;
    background-color: #555555;
    transition: 0.5s ease;
    transform: translateX(-220px);
    top: auto;
    z-index: 25;
}

.slide .logo {
    text-align: center;
    width: 100px;
    margin-left: 55px;
}

.slide ul {
    text-align: left;
    padding-left: 0;
}

.slide ul li {
    margin-left: 0;
}

.slide ul li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li {
    list-style: none;
}

ul li a {
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

ul li:hover a {
    color: black;
    background-color: lightgrey;
}

ul li a i {
    width: 30px;
    text-align: center;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 10px;
    left: 10px;
    z-index: 30;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: orange;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

input:checked~.slide {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: auto;
    text-align: center;
    font-size: small;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: white;
}
footer i {
    color: #ccc;
}

.card-header a {
    left: 50%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.card-header a:hover {
    color: white;
}

.add-button {
    display: flex;
    align-items: center;
}

.add-button form {
    margin-left: auto;
}

.search-button {
    display: flex;
    align-items: center;
}

.search-button form {
    margin-left: auto;
}